target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/*
!build/libs/
build/libs/*
!build/libs/*.jar
!**/src/main/**/build/
!**/src/test/**/build/
.gradle/
.vscode/
.DS_Store
/.gradle/__pycache__/
__pycache__/
nul
node_modules/
scan_cyrillic.js
scan_cyrillic.py
build/
*.class
node_modules/
